<!DOCTYPE html>
<html>
<title>Registration-Gamble On Code</title>

<head>
    <link rel="stylesheet" type="text/css" href="../assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="../assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css">  -->
    <style>
        body {
            height: 100vh;
            background-image: url("../assets/images/signup-back.png");
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
        }
    </style>

</head>

<body>
    
    <div class="float-right mt-5 mr-4 border border-danger text-center" style="height: 88%; width: auto; background: rgba(22, 150, 201, 0.25);">
        <div class="row mr-5 pr-5 mt-6 ml-5 pl-5">
            <h1>HEALTHAI</h1>
        </div>
        <div class="row">
            <h2>Sign Up</h2>

        </div>
    </div>


    <script type="text/javascript" src="../assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
</body>

</html>