{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Prescription</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'newassets/vendor/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'newassets/vendor/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'newassets/vendor/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'newassets/css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'newassets/images/favicon.png' %}" />
    <script src="{% static 'newassets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>

</head>

<body>
    <div class="main-panel" style="width: 100% ;height: 100%;">          
        <div class="content-wrapper">
          <div class="row justify-content-center">
              <div class="col-lg-6 col-md-12">
                  <div class="card px-2">
                      <div class="card-body">
                          <div class="container-fluid">
                            <h3 align="center">Bill &nbsp;&nbsp;Here</h3>
                            <hr>
                            <p id="date" class="text-right"></p>

                          </div>
                          <div class="container-fluid d-flex justify-content-between">
                           <!--  <div class="col-lg-3 pl-0">
                              <p class="mt-5 mb-2"><b>{{userdata.name}}</b></p>
                              <p>{{userdata.city}}.</p>
                            </div> -->
                            <div class="col-lg-3 pr-0 float-right">
                              <p class="mt-5 mb-2 text-left"><b>To,</b></p>
                              <p class="text-left">{{userdata.name}}<br> {{userdata.city}}.</p>
                            </div>
                            <div>
                              <input type="hidden" id="usrid" value="{{userdata.username}}">
                              <input type="hidden" id="tid" value="{{tid}}">
                              <input type="hidden" id="n" value="{{n}}">
                            </div>
                          </div>
                          
                          <div class="container-fluid mt-5 d-flex justify-content-center w-100">
                            <div class="table-responsive w-100">
                              <p>Description</p>
                              <!-- {{pres}} -->
                                <table class="table">
                                  <thead>
                                    <tr class="bg-dark text-white">
                                        <th>#</th>
                                        <th >Meditype</th>
                                        <th >Mediname</th>
                                        <th >Quantity</th>
                                        <th >Cost</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                  	{% for num,i in data1 %}
                                    <tr >
                                      <td >{{num}}</td>
                                      <td >{{i.meditype}}</td>
                                      <td >{{i.mediname}}</td>
                                      <td >{{i.quantity}}</td>
                                      <td >
                                      	<div class="">
                                      	<input type="number" id='cost{{num}}' placeholder="Cost" class="form-control form-control-sm">
                                      	</div>
                                      </td>
                                      
                                    </tr>
                                    {% endfor %}
                                  </tbody>
                                </table> 
                              </div>
                          </div>
                          <div class="container-fluid mt-5 w-100">
                            <p class="text-right mb-2">Sub - Total amount: $12,348</p>
                            <p class="text-right">vat (10%) : $138</p>
                            <h4 class="text-right mb-5">Total : $13,986</h4>
                            <hr>
                          </div><!-- 
                          <div class="container-fluid w-100">
                            <a href="#" class="btn btn-primary float-right mt-4 ml-2"><i class="ti-printer mr-1"></i>E Verified</a>
                            
                          </div> -->
                          <input type="hidden" value="{{data}}" id="medi">
  						<button class="btsubmit btn btn-primary  float-right">Generate BIll</button>

                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
</body>

</html>
  <script type="text/javascript">
    var totaln=$("#n").val();
    var n =  new Date();
	var y = n.getFullYear();
	var m = n.getMonth() + 1;
	var d = n.getDate();
	document.getElementById("date").innerHTML = m + "/" + d + "/" + y;

          

  </script>
<script >
$(".btsubmit").on("click", function() {
              var i;
              var cost=[];
              for(i=0;i<totaln;i++)
              {
                cost.push($("#cost"+(i+1)).val())
              }
              var usrid=$("#usrid").val();
              var tid=$("#tid").val();
              
              var encodedcost = JSON.stringify(cost);   
                 
                  $.ajax({
                                type: "POST",
                                data: {email:usrid,tid:tid,array:encodedcost},
                                url: "printbill",
                                }).done(function( data ) {
                                    // $("#requested").html("Your Appointment with  "+"Is cancelled");
                                       
                                    document.location.href="/pharmashoworders";
                                   
                                });
          });

</script>