{% extends 'dashboard/doctor/doctor_base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid dashboard-content">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h3 class="text-center">Welcome,  {{user.first_name}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    </div>
                </div>

                <div class="row">
                    <!-- ============================================================== -->
                    <!-- data table  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">Here are the Pending Requests {{user.first_name}}....</h5>
                                <!-- <p>This example shows DataTables and the Buttons extension being used with the Bootstrap 4 framework providing the styling.</p> -->
                            </div>
                            <div class="card-body text-center">
                                <div class="table-responsive">
                                    <table id="example" class="table" style="width: 100%">
                          <thead> 
                              <tr>
                                  <th style="display: none;">#</th>
                                  <th style="display: none;">User ID</th>
                                  <th>User</th>
                                  <th>AI Diagnosis</th>
                                  <th>Request Date</th>
                                  <th>Schedule Appointment On</th>
                                  <th >Cancel</th>
                                  <th style="display: none">User ID</th>
                                  <th>Status</th>
                              </tr>
                          </thead>
                              <tbody>
                              {%for i,req,num in data1 %}    
                              <tr>
                                  <td style="display: none;">{{num}} </td>
                                  <td style="display: none;">{{req.user}} </td>
                                  <td>
                                      <div class="d-flex align-items-center">
                                          <img src="{% static 'newassets/images/faces/face1.jpg' %}" alt="profile"/>
                                          <div class="ml-3">
                                              <p class="mb-0">{{i.0.0.name}}</p>
                                              <p class="mb-0 text-muted text-small">{{i.0.profession}}</p>
                                          </div>
                                      </div>
                                  </td>
                                  <td>Something</td>
                                  <td>{{req.rdate}}</td>
                                <td >
                                        <input type="datetime-local" id="{{num}}"  class="ml-3" placeholder="Birth date">
                                </td>
                                    <td><button type="button" onClick="this.disabled=true;" class="button btn btn-primary btn-sm">Schedule</button></td>
                                    
                                  </td>
                                  <td style="display: none;">{{req.id}}</td>
                                      
                                  <td>
                                      <label class="badge badge-success">In Progress</label>
                                  </td>

                              </tr>


                              {% endfor %}   
                              </tbody>

                                      
                            </table>
                                   </div>
                            </div>
                        </div>
                    </div>

                </div>


    
                    <!-- ============================================================== -->
                    <!-- end data table  -->
                    <!-- ============================================================== -->
                </div>

            <!-- Button trigger modal
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Launch demo modal
            </button>
             -->
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title text-center" id="myModalLabel">Hello {{user.first_name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="OK">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <p class="text-center" id="requested"></p>

                    </div>
                    <div class="modal-footer">
                    <button type="button"  class="btn btn-primary" data-dismiss="modal">OK</button>
                    
                    </div>
                </div>
                </div>
            </div>    



                <script>
                    $(document).ready(function () {
                        $('table').dataTable({searching: true,ordering :true, paging: false, info: false});

                        var table = $('#example').DataTable();
                       
                          
                          
                          
                        
                        $('.button').on('click', function () {
                            
                            var $row=$(this).closest("tr")
                            var $text = $row.find(".nr").text(); // Find the text
                            
                            var ids = $.map(table.rows($row).data(), function (item) {
                                return item
                            });
                            var id=ids[1]
                            var n="#"+ids[0]
                            var date=($(n).val())
                            var tid=ids[7]
                            
                            
                            $.ajax({
                                type: "POST",
                                data: {id:id,date:date,tid:tid},
                                url: "docshowreq",
                                }).done(function( data ) {
                                    $("#requested").html("Your Appointment is Schedule with  "+ids[2]);
                                     
                                    $('#myModal').modal('show');
                                    
                                    /*$('#myModal').modal('toggle');
                                    document.location.href="docshowreq"
*/
                                });

                        });
                    });
                </script>
{% endblock content %}
