{% extends 'dashboard/user/user_base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid dashboard-content">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h3 class="text-left">Hello,  {{user.first_name}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h3 class="text-center" id="requested"></h3>
                    </div>
                </div>

                <div class="row">
                    <!-- ============================================================== -->
                    <!-- data table  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">Here is the In Process Orders {{user.first_name}}....</h5>
                                <!-- <p>This example shows DataTables and the Buttons extension being used with the Bootstrap 4 framework providing the styling.</p> -->
                            </div>
                            <div class="card-body text-center">
                                <div class="table-responsive">
                                    <table id="example" class="table text-dark"
                                        style="width:100%">
                                        <thead> 
                                            <tr>
                                                <th>#</th>
                                                 <td style="display: none;">user ID </td>
                                                <th>Pharmacist</th>
                                                <!-- <th>AI Diagnosis</th> -->
                                                <th>Request Date</th>
                                                <th>Expected Delivery Date</th>
                                                <th>Prescription</th>
                                                <th style="display: none;">ID</th>
                                                <th >Bill</th>
                                                <th >Cancel</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {%for i,req,num in data1 %}    
                                        <tr>
                                                <td>{{num}}</td>
                                                  <td style="display: none;">{{i.0.username}} </td>
                                            
                                                <td >
                                                    <div class="d-flex align-items-center">
                                                    <img src="{% static 'newassets/images/faces/face1.jpg' %}" alt="profile"/>
                                                    <a href="log/details/{{i.0.username}}">
                                                    <div class="ml-3">
                                                        <p class="mb-0 name">{{i.0.name}}</p>
                                                        <p class="mb-0 text-muted text-small">{{i.0.profession}}</p>
                                                    </div>
                                                    </a>
                                                </div>
                                            </td>
                                                <!-- <td>{{req.medicines}}</td> -->
                                                <td>{{req.rdate}}</td>
                                                {% if req.adate is not null %}
                                                    <td>{{req.adate}}</td>
                                                {% else %}
                                                    <td>No Response</td>
                                                {% endif %}
                                                <td>
                                                    <a href="{{req.prescription}}" class="btn btn-success" target="_blank">Show</a>
                                                    </td>
                                                <td style="display: none;">{{req.id}}</td>
                                                   <td> <a href="{{req.bill}}" class="btn btn-success" target="_blank">Bill</a>
                                                    </td>
                                                    <td><button type="button" class="button btn btn-primary">Cancel</button></td>
                                                    
                                                
                                            </tr>

                                        {% endfor %}   
                                        </table>
                                     </div>
                            </div>
                        </div>
                    </div>

                </div>



                    <div class="row mt-5">
                        <!-- ============================================================== -->
                        <!-- data table  -->
                        <!-- ============================================================== -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0">Here is the Pending  Orders {{user.first_name}}....</h5>
                                    <!-- <p>This example shows DataTables and the Buttons extension being used with the Bootstrap 4 framework providing the styling.</p> -->
                                </div>
                                <div class="card-body text-center">
                                    <div class="table-responsive">
                                        <table id="example2" class="table text-dark"
                                            style="width:100%">
                                            <thead> 
                                                <tr>
                                                    <th>#</th>
                                                     <td style="display: none;">user ID </td>

                                                    <th>Pharmacist</th>
                                                    <!-- <th>AI Diagnosis</th> -->
                                                    <th>Request Date</th>
                                                    <th>Expected Delivery Fate</th>
                                                    <th>Prescription</th>
                                                    <th style="display: none;">ID</th>
                                                    <th >Cancel</th>
                                                    <!-- <th>Actions</th> -->
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {%for i,req,num in data2 %}    
                                            <tr>
                                                    <td>{{num}}</td>
                                                  <td style="display: none;">{{i.0.username}} </td>
                                                    
                                                <td >
                                                    <div class="d-flex align-items-center">
                                                    <img src="{% static 'newassets/images/faces/face1.jpg' %}" alt="profile"/>
                                                    <a href="log/details/{{i.0.username}}">
                                                    <div class="ml-3">
                                                        <p class="mb-0 name">{{i.0.name}}</p>
                                                        <p class="mb-0 text-muted text-small">{{i.0.profession}}</p>
                                                    </div>
                                                    </a>
                                                </div>
                                            </td>
                                                    <!-- <td>Something</td> -->
                                                    <td>{{req.rdate}}</td>
                                                    {% if req.adate is not null %}
                                                        <td>{{req.adate}}</td>
                                                    {% else %}
                                                        <td >
                                                            <label class="badge badge-secondary">No Response</label>
                                                        </td>
                                                    {% endif %}
                                                    <td>
                                                    <a href="{{req.prescription}}" class="btn btn-primary" target="_blank">Show</a>
                                                    </td>
                                                    <td style="display: none;">{{req.id}}</td>
                                                        <td><button type="button"  class="button2 btn btn-primary btn-sm">Cancel</button></td>
                                                        
                                                </tr>
    
                                            {% endfor %}   
                                            </table>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    <!-- ============================================================== -->
                    <!-- end data table  -->
                    <!-- ============================================================== -->
                </div>
                <script>
                    $(document).ready(function () {
                        $('table').dataTable({searching: true,ordering :true, paging: false, info: false});
                        var table = $('#example').DataTable();
                        
                        
                        $('.button').on('click', function () {
                            
                            var $row=$(this).closest("tr")
                            var $text = $row.find(".nr").text(); // Find the text
                            
                            var ids = $.map(table.rows($row).data(), function (item) {
                                return item
                            });
                            var id=ids[1]
                            
                            var tid=ids[6]
                            // alert(tid);
                            $.ajax({
                                type: "POST",
                                data: {id:id,tid:tid},
                                url: "showorders",
                                }).done(function( data ) {
                                    $("#requested").html("Your Appointment is Schedule with  "+ids[2]);
                                       
                                    document.location.href="showorders"
                                   
                                });

                            });
                        });

                        $(document).ready(function () {
                            var table = $('#example2').DataTable();
                            
                        $('.button2').on('click', function () {
                            
                            var $row=$(this).closest("tr")
                            var $text = $row.find(".nr").text(); // Find the text
                            
                            var ids = $.map(table.rows($row).data(), function (item) {
                                return item
                            });
                            var id=ids[1]
                            
                            var tid=ids[6]
                            
                            $.ajax({
                                type: "POST",
                                data: {id:id,tid:tid},
                                url: "showorders",
                                }).done(function( data ) {
                                    // $("#requested").html("Your Appointment is Schedule with  "+ids[2]);
                                       
                                    document.location.href="showorders"
                                   
                                });

                        });

                    });
                </script>
{% endblock content %}
