{% extends 'dashboard/user/user_base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid dashboard-content">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h3 class="text">Hello,  {{user.first_name}}</h3>
                    </div>
                    <br><br>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                    <h5 class="mb-0">Here is the list of Doctors for you {{user.first_name}}....</h5>
                    </div>            
                </div>
                <div class="row"><br></div>
               <div class="row">
                    {%for i,doc in data %}    
                   
                   <div class="col-md-4 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-sm-flex flex-row flex-wrap text-left text-sm-left align-items-left">
                                        <img src="{% static 'newassets/images/faces/profile.jpg' %}" class="img-lg rounded" alt="profile image"/>
                                        <div class="ml-sm-3 ml-md-0 ml-xl-3 mt-2 mt-sm-0 mt-md-2 mt-xl-0">
                                            <h6 class="mb-0">{{doc.name}}</h6>
                                            <p class="text-muted mb-1">{{doc.username}}</p>
                                            <p class="mb-0 text-success font-weight-bold">Designer</p>
                                            <button  type="button" id="{{i}}" data-user="{{doc.username}}" data-name="{{doc.name}}" onClick="this.disabled=true; " class="button1 btn btn-primary btn-sm">Request</button>

                                           <a href="log/showinfo"> 
                                            <button  type="button" class="button1 btn btn-primary btn-sm">Profile</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    
               </div>

                    <!-- ============================================================== -->
                    <!-- end data table  -->
                    <!-- ============================================================== -->

                    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                            <h4 class="modal-title text-center" id="myModalLabel">Cofirmation</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="OK">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <p class="text-center" id="requested">Do You want to ConFirm Your Request? </p>
        
                            </div>
                            <div class="modal-footer">
                            <button type="button"  class="okbt btn btn-primary" data-dismiss="modal">OK</button>
                            <button type="button"  class="cancelbt btn btn-secondary" data-dismiss="modal">Cancel</button>
                            
                            </div>
                        </div>
                        </div>
                    </div>    
        


                </div>
                <script>
                        var name="None";
                        var id=0;
                        var this1;

                        $('.button1').on('click', function () {
                                    $('#myModal').modal('show');
                            name = $(this).attr("data-name");
                            usrid = $(this).attr("data-user");
                            id=this.id;
                        });

                        $('.okbt').on('click', function () {
                            
                            // var name = $(this).attr("data-name")
                           
                            $.ajax({
                                type: "POST",
                                data: {id:usrid},
                                url: "reqdoc",
                                }).done(function( data ) {
                                    // $("#requested").html("Your Request passed to Doctor "+name);
                                     
                                    // $('#myModal').modal('show');
                                    
                                   
                                });

                        });

                        $('.cancelbt').on('click', function () {
                            // alert(id);

                            $("#" + id).attr("disabled",false);

                        });

                    // });
                </script>
{% endblock content %}
