{% extends 'dashboard/user/user_base.html' %}
{% load static %}

{% block content %}

          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Hello, {{user.first_name}}</h3><br>
                  <h6 class="font-weight-normal mb-0"> What Do we say to God Of Death ?
                    <span class="text-primary"> Not Today!!!</span></h6>
                </div>
                
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">What's New !!!</h4>
                  <div class="owl-carousel owl-theme full-width">
                    <div class="item">
                      <div class="card text-white">
                        <img class="card-img" src="{% static 'newassets/images/carousel/banner1.jpg' %}" alt="Card image">
                        <div class="card-img-overlay d-flex">
                          <div class="mt-auto text-center w-100">
                            <h3 class="text-dark">Stay Home,Stay Safe</h3>
                           <a href="https://www.lifecarediagnostics.com/covid19-test/" target="_blank" ><h6 class="card-text mb-4 font-weight-normal">Covid-19 Info</h6></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="card text-white">
                        <img class="card-img" src="{% static 'newassets/images/carousel/banner2.jpg' %}" alt="Card image">
                        <div class="card-img-overlay d-flex">
                          <!-- <div class="mt-auto text-center w-100">
                            <h3>Third Slide Label</h3>
                            <h6 class="card-text mb-4 font-weight-normal">Nulla vitae elit libero, a pharetra augue mollis interdum.</h6>
                          </div> -->
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="card text-white">
                        <img class="card-img" src="{%static 'newassets/images/carousel/banner3.jpg' %}" alt="Card image">
                        <div class="card-img-overlay d-flex">
                          <!-- <div class="mt-auto text-center w-100"> -->
                            <!-- <h3>Third Slide Label</h3>
                            <h6 class="card-text mb-4 font-weight-normal">Nulla vitae elit libero, a pharetra augue mollis interdum.</h6>
                          --> <!-- </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-6 grid-margin transparent">
              <div class="row">

                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card homecard card-dark-blue">
                    <div class="card-body">
                      <a href="reqdoc"> 
                      <p class="mb-4">Total Bookings</p>

                      <p class="fs-30 mb-2">New Appointment</p>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card homecard card-dark-blue">
                    <div class="card-body">
                      <a href="showreq"> 

                      <p class="mb-4">Total Appoiintments</p>
                      <p class="fs-30 mb-2">My Appointments</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                  <div class="card pull-up homecard card-light-blue">
                    <div class="card-body">
                      <a href="diagnose">
                      <p class="mb-4">Dignose Here</p>
                      <p class="fs-30 mb-2">AI <br>Diagnosis</p>
                    </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 stretch-card transparent">
                  <div class="card homecard card-light-danger">
                    <div class="card-body">
                      <a href="chatting">
                      <p class="mb-4">Chat Here</p>
                      <p class="fs-30 mb-2">Contact <br>with Doctor</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          

{% endblock content %}
